.contentContainer {
    margin-bottom: 5rem;
}

.test2-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.test2-table th, .test2-table td {
    border: 1px solid black;
    text-align: center;
    padding: .5rem;
}

tr:nth-child(odd) {
    background: #eee
}

thead tr {
    background: #9e9e9e!important;
    color: white;
}

.pointer {
    cursor: pointer;
}

.active-page {
    background: #eee!important;
    font-weight: bold;
}

nav.page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.pagination {
    margin: 0;
}

.pagination-block {
    display: flex;
    align-items: center;
}

.pagination-select {
    margin-left: 4rem;
    margin-right: -15px;
    width: 250px;
}

.pagination-select select {
    margin-bottom: 0!important;
}