.form-group {
    margin-bottom: 0!important;
}

.form-control, .input-group {
    margin-bottom: 1rem;
}

label {
    margin-top: 5px;
    text-align: right;
}

.text-left {
    text-align: left;
}

.ng-submitted .ng-touched.ng-dirty.ng-invalid {
    border-color: rgb(196, 24, 24);
}

.ng-submitted .ng-touched.ng-dirty.ng-invalid:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, 0.6);
}

button[type="submit"] {
    margin-bottom: 60px;
}