<div class="contentContainer" ng-class="openedMenu() =='open' ? 'noCollapse' : 'collapse'"
    ng-controller="test1Controller">
    <div class="containerTest center">

        <h4 class="contentMainTittle">Test 2.a - Make a table with desktop computers.</h4>

        <table class="test2-table">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Price</th>
                    <th>CPU</th>
                    <th>RAM</th>
                    <th>Type</th>
                    <th>Shape</th>
                    <th>Image</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in computers">
                    <td>{{item.brand}}</td>
                    <td>{{item.model}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.cpu}}</td>
                    <td>{{item.ram}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.shape}}</td>
                    <td><img src="{{item.urlImagePath}}/{{item.model}}.jpg" alt="{{item.model}}" width="100"></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>