<!--_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- TEST 1 TEMPLATE -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-->

<div class="contentContainer" ng-class="openedMenu() =='open' ? 'noCollapse' : 'collapse'"
	ng-controller="test1Controller">
	<div class="containerTest center">

		<h4 class="contentMainTittle">{{'TEST1_TITLE' | translate}}</h4>

		<p class="center" translate="SOLUTION_1_TEXT"></p>

		<form novalidate class="col-md-10 col-md-offset-1" name="computerForm">
			<div class="row">
				<div class="form-group">
					<label class="col-sm-2" for="brand">{{"BRAND" | translate}}<strong class="text-danger">*</strong></label>
					<div class="col-sm-4">
						<input name="brand" type="text" class="form-control" ng-model="computer.brand"
							placeholder="{{'BRAND' | translate}}" id="brand" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2" for="model">{{'MODEL' | translate}}</label>
					<div class="col-sm-4">
						<input name="model" type="text" class="form-control" ng-model="computer.model"
							placeholder="{{'MODEL' | translate}}" id="model">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2" for="price">{{'PRICE' | translate}}</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input name="price" type="number" class="form-control" ng-model="computer.price"
								placeholder="{{'PRICE' | translate}}" aria-describedby="price-addon" id="price">
							<span class="input-group-addon" id="price-addon">€</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2" for="cpu">{{'CPU' | translate}}</label>
					<div class="col-sm-4">
						<input name="cpu" type="text" class="form-control" ng-model="computer.cpu" placeholder="{{'CPU' | translate}}"
							id="cpu">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2" for="ram">{{'RAM' | translate}}</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input name="ram" type="number" class="form-control" ng-model="computer.ram"
								placeholder="{{'RAM' | translate}}" aria-describedby="ram-addon" id="ram">
							<span class="input-group-addon" id="ram-addon">GB</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2" for="type">{{'TYPE' | translate}}</label>
					<div class="col-sm-4">
						<select name="type" class="form-control" id="type" ng-model="computer.type">
							<option value="multimedia">{{'MULTIMEDIA' | translate}}</option>
							<option value="gaming">{{'GAMING' | translate}}</option>
							<option value="workstation">{{'WORKSTATION' | translate}}</option>
							<option value="all in one">{{'ALL_IN_ONE' | translate}}</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2" for="shape">{{'SHAPE' | translate}}<strong class="text-danger">*</strong></label>
					<div class="col-sm-4">
						<select name="shape" class="form-control" id="shape" ng-model="computer.shape" required>
							<option value="desktob">{{'DESKTOP' | translate}}</option>
							<option value="laptop">{{'LAPTOP' | translate}}</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2" for="urlImagePath">{{'IMAGE' | translate}}</label>
					<div class="col-sm-4">
						<input type="file" name="urlImagePath" class="form-control" fileread="$scope.image"
							id="urlImagePath">
					</div>
				</div>

				<div class="col-sm-12 center">
					<button class="btn btn-primary" type="submit" ng-click="update(computer)">{{'SAVE' | translate}}</button>
				</div>
			</div>
		</form>

		<div ng-if="submitted == true" class="col-sm-8 col-md-offset-2 text-left object-container">
			<div class="col-md-8">
				<p>{{"NEW_COMPUTER" | translate}}:</p>
				<ul>
					<li>Brand: {{computer.brand}}</li>
					<li>Model: {{computer.model}}</li>
					<li>Price: {{computer.price}}</li>
					<li>Cpu: {{computer.cpu}}</li>
					<li>Ram: {{computer.ram}}</li>
					<li>Type: {{computer.type}}</li>
					<li>Shape: {{computer.shape}}</li>
					<li>Image: {{computer.urlImagePath}}</li>
				</ul>
			</div>
			<div class="image-container col-md-4" ng-if="computer.urlImagePath">
				<img src="{{image}}" alt="{{computer.model}}">
			</div>
		</div>

	</div>
</div>