<!--_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- TEST INFO TEMPLATE -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-->

<div class="contentContainer" ng-class="openedMenu() =='open' ? 'noCollapse' : 'collapse'">
	<div class="containerTest center">

		<!-- Angular test Logo-Tittle-Paragraph -->
		<img class="angularLogo" src="resources/images/AngularJS_logo.svg.png"></img>
		<h4 class="contentMainTittle">{{"TEST_TITLE" | translate}}</h4>
		<p class="center">{{"TEST_SUBTITLE" | translate}}</p>

		<!-- Tabs -->
		<ul class="nav nav-tabs col-md-10 col-md-offset-1">
			<li class="active"><a data-toggle="tab" href="#Introduction">{{"INTRODUCTION" | translate}}</a></li>
		    <li><a data-toggle="tab" href="#test">{{"TESTS" | translate}}</a></li>
		    <li><a data-toggle="tab" href="#aditionalInfo">{{"ADITIONAL_INFO" | translate}}</a></li>
		</ul>

		<!-- Tab Content -->
	  	<div class="col-md-10 col-md-offset-1">
		  	<div class="tab-content">

		  		<!-- Introduction -->
			    <div id="Introduction" class="tab-pane fade in active">
			    	<div class="col-sm-8 col-sm-offset-2">
								<h3 class="center">{{"INTRODUCTION" | translate}}</h3>
								<div translate="INTRODUCTION_TEXT"></div>
						</div>
			    </div>

			    <!-- Tests Info -->
			    <div id="test" class="tab-pane fade col-sm-12">
			    	<div class="col-sm-3">
				      <h2 class="center">{{"TEST_1" | translate}}</h2>
							<h3>{{"TEST_1_TITLE" | translate}}</h3>
							<div translate="TEST_1_TEXT"></div>
			  		</div>
			  		<div class="col-sm-3">
							<h2 class="center">{{"TEST_2" | translate}}</h2>
				    
							<h3>{{"TEST_2A_TITLE" | translate}}</h3>
							<div translate="TEST_2A_TEXT"></div>
							<h3>{{"TEST_2B_TITLE" | translate}}</h3>
							<div translate="TEST_2B_TEXT"></div>
			  		</div>
			  		<div class="col-sm-3">
							<h2 class="center">{{"TEST_3" | translate}}</h2>
							<h3>{{"TEST_3_TITLE" | translate}}</h3>
							<div translate="TEST_3_TEXT"></div>
						</div>
				  	<div class="col-sm-3">
				      	<h2 class="center">{{"TEST_4" | translate}}</h2>
								<h3>{{"TEST_4A_TITLE" | translate}}</h3>
								<div translate="TEST_4A_TEXT"></div>
								<h3>{{"TEST_4B_TITLE" | translate}}</h3>
				      	<div translate="TEST_4B_TEXT"></div>
				  	</div>
			    </div>

			    <!-- Aditional Info -->
			    <div id="aditionalInfo" class="tab-pane fade col-sm-12">
			    	<div class="col-sm-6 col-sm-offset-3">
								<h2 class="center">{{"ADDITIONAL_INFO_TITLE" | translate}}</h2>
			      		<div translate="ADDITIONAL_INFO_TEXT"></div>
			    	</div>
			    </div>
		  	</div>
	  	</div>	
	</div>	
<div>